<strong>Hello, {{ student }}!</strong>
<p><strong>GymPoint already has a solution for you!</stong></p>
<p>With the help of our GymPointers, we have found a possible solution to your problems. See below for the answer:</p>
<p>
    <strong>Help request number: </strong> {{ id }} <br />
    <strong>Question: </strong> {{ question }} <br />
    <strong>Question date: </strong> {{ created_at }} <br />
    <strong>Answer: </strong> {{ answer }} <br />
    <strong>Answer date: </strong> {{ answer_at }} <br />
    <br />
    <small>
        We hope to have helped you, but if you still have any questions, just look for us again and we will be happy to support you.
    </small>
</p>