<strong>Hello, {{ student }}!</strong>
<p><strong>Welcome to GymPoint!</stong></p>
<p>We hope you enjoy during this time with us. So below is your registration information:</p>
<p>
    <strong>Registration number: </strong> {{ id }} <br />
    <strong>Plan: </strong> {{ plan }} <br />
    <strong>Start date: </strong> {{ start_date }} <br />
    <strong>End date: </strong> {{ end_date }} <br />
    <strong>Monthly value: </strong> ${{ monthly_value }} <br />
    <strong>Total value: </strong> ${{ total_value }} <br />
    <br />
    <small>
        Now just get ready and remember: No Pain No Gain!
    </small>
</p>